html, body {
    font-family: 'Chelsea Market', cursive; 
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
}

* {
    box-sizing: border-box;
  }

.navbar, 
.container, 
.services, 
.contact-container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;  
}

.navbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;  
    height: 100px; 
    position: sticky;
    top: 0;
    background-color: #66b6d3;
}

.logo {
    margin: auto;
}

.logo-img {
    width: 75px;
    height: 75px;
}

.nav-link, a {
    text-transform: uppercase;
    color: #303137;
    
}

.topnav {
    display: flex;
    margin: auto;
    padding: 0;
    list-style: none;
}

.topnav .nav-link, a {
    text-decoration: none;
    padding-left: 20px;
    font-size: 20px;
}

.dropdownLink {
    display: none;
}

.services, 
.contact-container {
    background-color: lightgray;
    padding: 4rem 1rem;
}

.media-object {
    display: flex;
    align-items: center;
    padding: 4rem 1rem;
}

.icon {
    width: 350px;
}

.icon-left, 
.icon-right {
    display: flex;
    flex: 1;
    justify-content: center;
}

.icon-left, 
.blurb-wrapper-left {
    order: 1;
}

.icon-right, 
.blurb-wrapper-right {
    order: 2;
}

.blurb-wrapper-left, 
.blurb-wrapper-right {
    flex: 1;
}

.blurb-header {
    margin-top: 0;
    font-size: 24px;;
}

.blurb-info {
    color: #646b90;
    font-size: 18px;
}

.main-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.main-btn {
    color: #ffffff;
    background-color: #66b6d3;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 4rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}

.main-btn:hover {
    color: #ffffff;
    background-color: #183c49;
}

.section-header {
    text-align: center;
    padding: 6rem 0 4rem;
}

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-object {
    max-width: 250px;
    margin: 1rem 0;
}

.portfolio-box {
    width: 250px;
    height: 250px;
    background-color: #f1f3fa;
    transition: .2s ease-in-out;
}

.portfolio-box:hover {
    cursor: pointer;
    transform: scale(1.05);
}

form label {
    font-size: 14px;
    padding-right: 10px;
}

.form-group {
    margin-bottom: .75rem;
}

.form-control {
    display: block;
    max-width: 800px;
    width: 100%;
    background-color: #ffffff;
    color: #292b2c;
    border-radius: 3px;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
}

.submit-btn-wrapper {
    margin-top: 4rem;
}


@media(max-width: 768px) {
    ul.topnav li a.nav-link {
        display: none;
    }

    ul.topnav li.dropdownLink {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    ul.topnav.responsive li.dropdownLink {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    ul.topnav.responsive {
        flex-direction: column;
        text-align: right;
    }

    ul.topnav.responsive li {
        top: 30px;
        right: 30px;
        position: relative;
    }

    ul.topnav.responsive li a.nav-link {
      display: block;
      line-height: 2;
    }

    .portfolio-wrapper {
        text-align: center;
    }

    .media-object {
        flex-direction: column;
        text-align: center;
    }

    .icon-left, 
    .icon-right {
        order: 1;
    }

    .blurb-wrapper-left,
    .blurb-wrapper-right {
        order: 2;
        padding-top: 2rem;
    }

    .form-group {
        display: flex;
    }

    .submit-btn-wrapper {
        text-align: center;
    }
         
}

@media(max-width: 599px) {
    .portfolio-wrapper {
        justify-content: center;
    }
}